#info {
	.info-title {
		background-color: #dfdfdf;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	.info-body {
		font-size: 14px;
	}
}

#settings {
	.settings-title {
		background-color: #dfdfdf;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 16px;
	}

	.col-md-5{
		padding-left: 50px;
	}

	.col-md-7{
		padding-left: 50px;
	}

	.settings-body {
		font-size: 14px;
	}
}